/** footer-area  **/
.footer-area{
    background-color: #1D262D;
    
    .footer-top-extra-area{
        background-color: #2A3842;
    }


    .copy-right-info{
        border: 1px solid #2A3842;
        .copy-right{
            p{
                color: #bdbdbd;
            }
        }
    }
}